*{
    margin: 0;
    padding: 0;
    font-family: Poppins;
}

body{
    background-color: rgb(87, 19, 212);
}

.container{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20vh;
    margin-bottom: 20vh;
    margin-left: 20vw;
    margin-right: 20vw;
    height: 60vh;
    width: 60vw;
    background-color: white;
    border-radius: 5px;
}

button{
    background-color: rgb(87, 19, 212);
    color: white;
    font-size: 18px;
    margin-top: 3vh;
    border: 0;
    border-radius: 5px;
    width: 12vw;
    height: 5vh;
}

h1{
    margin-bottom: 5vh;
    color: rgb(87, 19, 212);
}

textarea{
    height: 20vh;
    width: 50vw;
    border: solid 2px black;
    border-radius: 5px;
    margin-bottom: 5vh;
}

.contador{
    color: rgb(65, 65, 65);
}